/**
  scss函数 (@include)
 */

/*字体类型
---------------------------------------------------------------- */
@mixin fontStyle($size, $color) {
  font-size: $size;
  color: $color;
}

@mixin backGround($url) {
  background: url($url) center center / cover no-repeat;
  background-clip: content-box;
  background-size: 100% 100%;
}

